@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

/* NAVBAR */
nav {
  background-color: #eaeaea;
  padding: 2px 40px;
}

.btn-orangered {
  background-color: orangered !important;
  color: white !important;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu {
  display: none;
}

.mobile-menu-list {
  display: none;
}

.hamburger-button {
  font-size: 36px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.menu-active {
  color: orangered !important;
  font-weight: 700;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
}

.nav-contact-button {
  text-decoration: none;
  background-color: orangered;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
}

.main-content {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 50px;
}

/* PROFILE CARD */
#card-section {
  flex: 1;
}
.profile-card {
  /* width: 400px; */
  padding: 15px;
  /* margin: 100px auto; */

  border: 1px solid #aaa;
  border-radius: 15px;

  box-shadow: 0px 0px 30px 10px #aaa;
}

.profile-table {
  border-style: solid;
  border-collapse: collapse;
  width: 100%;
}

.profile-img {
  border-radius: 15px;
  width: 100%;
}

/* PROFILE INTRODUCTION */
#introduction {
  flex: 2.5;
}

#what-i-do h1 {
  margin-top: 0;
}

#technologies {
  display: flex;
  gap: 20px;
}

#socials h2 {
  margin-top: 0;
}

#socials a {
  text-decoration: none;
  margin-right: 20px;
}

#socials a img {
  width: 40px;
}

/* CONTACT FORM STYLES */

.contact-form {
  width: 500px;
  margin: 30px auto;
}

.contact-form h1 {
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 10px;
}

.form-field input,
select,
textarea {
  padding: 10px;
  font-size: 16px;
  background-color: #eaeaea;
  border: 2px solid #d1d1d1;
  border-radius: 5px;
}

.contact-form button {
  font-size: 16px;
  font-family: "Poppins", serif;
  background-color: orangered;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* CREATE BLOG FORM STYLES */

.create-blog-form {
  width: 500px;
  margin: 30px auto;
}

.create-blog-form h1 {
  text-align: center;
}

.button-container {
  text-align: right;
  margin-top: 30px;
}

.create-blog-form button {
  font-size: 16px;
  font-family: "Poppins", serif;
  background-color: orangered;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* BLOG LIST STYLES */
.blog-list {
  width: 90%;
  margin: 30px auto 300px;
  /* background-color: salmon; */
}

.blog-item {
  /* height: 300px; */
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.blog-item-img img {
  /* height: 100%; */
  width: 350px;
}

.blog-item-text {
  /* background-color: aquamarine; */
  flex: 1;
}

.blog-item-title {
  color: black;
  font-size: 24px;
  margin: 0;
}

.blog-item-buttons {
  text-align: right;
}

.blog-edit-button {
  font-size: 16px;
  font-family: "Poppins", serif;
  background-color: #ccc;
  color: black;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.blog-post-button {
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", serif;
  background-color: orangered;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.blog-item-relative-time {
  color: #aaa;
  font-size: 14px;
  text-align: right;
}

/* BLOG DETAIL STYLES */
.blog-detail {
  width: 60%;
  margin: 40px auto;
}

.blog-detail img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 2px 15px;
  }

  .main-menu {
    display: none;
  }

  .menu-active {
    background-color: orangered !important;
    color: white !important;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu-show {
    display: block;
  }

  .mobile-menu-hide {
    display: none;
  }

  .mobile-menu-list a {
    display: block;
    text-decoration: none;
    border: 1px solid #fff;
    background-color: #aaa;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }

  .main-content {
    display: contents;
  }

  #card-section {
    padding: 30px;
  }

  #introduction {
    padding: 0 30px 30px;
  }

  #technologies {
    flex-direction: column;
  }

  #technologies img {
    width: 40px;
    height: 40px;
  }

  #technologies h2 {
    margin: 5px 0;
  }

  /* CONTACT PAGE */
  .contact-form {
    width: 90%;
  }

  /* BLOG PAGE */

  .create-blog-form {
    width: 90%;
  }

  .blog-item {
    flex-direction: column;
  }

  .blog-item-img img {
    width: 100%;
  }

  /* BLOG DETAIL */
  .blog-detail {
    width: 90%;
  }
}
